/*Стиль страницы заказов*/

.user-order{
    display: flex;
    padding-inline: 15%;
    flex-direction: column;
    align-items: stretch;
}

.basket-info, .order-info{
    padding: 26px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin:15px;
}

/*Стиль корзины на стронице заказов*/
.basket-user{
    display: inline-block;
	overflow: auto;
	overflow-x: hidden;
	width: 100%;
}

.basket-user h2{
    color:black;

}

.pr-in-basket{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pr-in-basket div{
    width: 20%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.pr-in-basket input{
    height: 25px;
    border: 1px solid #696969;
    border-radius: 4px;
    width: 100px;
}

.total-price{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 7%;
    margin-top: 5%;
}

.basket-in-order td{font-size: 20px;}

.basket-in-order{
    margin-block: 3%;
    width:100%;
}

/*Стиль формы заказа*/
.order-info p{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 10px;
}

.button {
    background-color: white;
    color: black;
    margin-top: 2%;
    border: 1px solid black;
    outline: 0;
    display: inline-block;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #555;
    text: white;
}
