{% extends 'base_restaurant.html' %}
{% load static %}
{% block content %}
<div class="coupon">
  <img src="https://i.1.creatium.io/92/e4/39/1fbeb2b083c721aa984cf79b660326e58c/357x357q8/2_1_s_1_maya231.png"
       alt="Avatar" style="width:100%;">
  <div class="stocks" style="background-color:white">
    <h2><b>ДАРИМ ПЕППЕРОННИ</b></h2>

    <p>
        При заказе двух пицц одного размера, дарим легендарную пиццу "Пепперони" 26 см.
        В акции участвуют пиццы 30см и 35см. Акции и скидки не суммируются.
        Акция действует только при заказах через сайт пиццерии или в самой пиццерии,
        и не распространяется на доставку. Акция действует только один раз. В праздничные дни акция не действует.
    </p>
      <div class="stock">
        <p> Промо-код: <span class="promo">BOH232</span></p>
        <p class="expire">Действует: по будням с 10:00 до 16:00</p>
      </div>
  </div>

</div>
{% endblock %}
